h5py
imageio
matplotlib
numpy==1.26.4
opencv-python-headless
pandas
Pillow
pystackreg
scikit-image
scikit-learn
scipy
seaborn
tifffile
tqdm
xarray
dask[distributed]
scanimage_tiff_reader
aind-ophys-utils
aind-codeocean-api
aind-codeocean-utils
aind-data-access-api
aind-data-schema
aind-data-schema-models
aind-session
boto3
botocore
brain-observatory-utilities
codeocean
optuna
PyYAML
requests
roicat
s3fs
